# Step 3: Data preparation (cleansing, integrating, and transforming data)

Checking and remediating data errors, enriching the data with data from other data sources, and transforming it into a suitable format for your models.

**NOTE: Most of the notes in this file came from Chapter 1 of the book "Data Science for Marketing Analytics"**

## How to read data with Pandas

In [2]:
import pandas as pd

df_sales = pd.read_csv("sales.csv")
df_user_info = pd.read_json("user_info.json")

## How to inspect data in DataFrames

You should inspect the data to see if there is missing data and if the data is structured correctly (e.g. if the column names make sense with the data in those columns).

In [6]:
df_sales.head(5)

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,NaN,14313.48
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,156644.47
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,59191.72
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,NaN,7029.33

In [7]:
df_sales.tail(5)

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue
95,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Finland,NaN,6615.84
96,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Denmark,NaN,52613.47
97,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,France,NaN,41912.85
98,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Germany,NaN,59479.91
99,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,United,Kingdom,156324.28

In [9]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       100 non-null    int64
 1   Product    100 non-null    object
 2   line       100 non-null    object
 3   Product.1  100 non-null    object
 4   type       100 non-null    object
 5   Product.2  100 non-null    object
 6   Order      100 non-null    object
 7   method     100 non-null    object
 8   type.1     100 non-null    object
 9   Retailer   100 non-null    object
 10  country    9 non-null      object
 11  Revenue    100 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 9.5+ KB

---

You can also use these DataFrame properties, but the information they provide can be found with the df.info() function:

`df.shape`

`df.dtypes`

## Data Manipulation

### How to select and filter data using pandas